<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Funko List</title>
  <!-- Enlace al archivo de estilos de Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-white font-bold text-xl">Funko List</h1>
      <ul class="flex space-x-4">
        <li><a href="#" class="text-white hover:text-gray-200">Inicio</a></li>
        <li><a href="#" class="text-white hover:text-gray-200">Acerca de</a></li>
        <li><a href="#" class="text-white hover:text-gray-200">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <!-- Contenido principal -->
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Lista de Funkos</h1>
    <table class="w-full border-collapse border border-gray-300">
      <thead>
        <tr class="bg-gray-200">
          <th class="border border-gray-300 px-4 py-2">Name</th>
          <th class="border border-gray-300 px-4 py-2">Number</th>
          <th class="border border-gray-300 px-4 py-2">Colecction</th>
          <th class="border border-gray-300 px-4 py-2">Backlight</th>
        </tr>
      </thead>
      <tbody>
        {% for funko in funkos %}
        <tr class="bg-white">
          <td class="border border-gray-300 px-4 py-2">{{ funko.name }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ funko.number }}</td>
          <td class="border border-gray-300 px-4 py-2">{{ funko.collection }}</td>
          <td class="border border-gray-300 px-4 py-2">{% if funko.is_backlight %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>
